
  .white-text {
    color: white;
  }

  .trc-image {
    width: 300px;
    height: 400px;
  }

  body {
    background-color: rgb(248, 171, 255);
    color: gray;
    font-family: cursive;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    line-height: 25px;
  }

  .border{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .box1 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-left:  10px;
  }

  .box2 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
    margin-left:  30px;
  }

  .box3 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 50px;
    margin-left:  50px;
  }

  .box4 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 70px;
    margin-left:  70px;
  }

  .box5 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 90px;
    margin-left:  90px;
  }

  .box6 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 110px;
    margin-left:  110px;
  }

  .box7 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 130px;
    margin-left:  130px;
  }

  .box8 {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 150px;
    margin-left:  150px;
  }



  .mano {
      margin-bottom: -25px;
      text-align: center;
  }

  .pie {
      text-align: center;
  }

  .yellow-box {
      background-color: rgb(255, 255, 255);
      padding: 10px;
  }

  label {
    color: white;
    font-family: cursive;
    font: 20px;
  }

  h1 {
    font-family: lobster;
    background-color: rgb(255, 255, 255,0.82);
    padding: 10px;
    box-shadow: 0px 20px 20px 10px rgba(0,0,0,0.33), 0 6px 6px rgba(0,0,0,0.7);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;

  }

  img {
    box-shadow: 0px 20px 20px rgba(0, 0, 0,0.33), 0 6px 6px rgba(0,0,0,0.23);
    position: relative; left: 38%;
  }

  a {
    color: #000;
  }
  a:hover { color: yellow; }

  b {
    color: #000;
  }

  label:hover { color: yellow; }

    {
    position: relative; left: 50%;
  }

  form {
    position: relative; left: 42%;
  }

  #ola {
    position: relative; left: 40%;
  }

  #alo {
    position: relative; left: 0.2%;
  }
